<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Registration | Step 2</title>
</head>
<body>
<div class="alert alert-warning" role="alert">
    <h4 class="alert-heading">Well done!</h4>
    <p>Thanks for your registration. Please sign in to you email and confirm your login/email</p>
    <hr>
    <p class="mb-0">Current reference will be valid for 15 minutes</p>
</div>
</body>
</html>