<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        .event {
            width: 56%;
            height: 900px;
            position: absolute;
            left: 0;
        }

        .map {
            width: 44%;
            height: 900px;
            position: absolute;
            right: 0;
        }
    </style>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Events | Event</title>

</head>
<body>
<nav class="navbar navbar-light bg-light">
    <form class="form-inline">
        <a class="nav-link" href="{{ url_for('index') }}">Home<span class="sr-only"></span></a>
        {% if session.get('email', False) %}
        <a class="btn btn-outline-secondary mr-2" href="{{ url_for('sign_out') }}">Sign-out</a>
        <a class="btn btn-info" href="{{ url_for('profile', user_id=session.get('user_id', '')) }}">{{ session.get('name', 'user') }}</a>
        {% else %}
        <a class="btn btn-outline-secondary mr-2" href="{{ url_for('login') }}">Sign-in</a>
        <a class="btn btn-outline-secondary" href="{{ url_for('register') }}">Register</a>
        {% endif %}
    </form>
</nav>

<iframe class="event" src="{{ url }}" frameborder="0"></iframe>
<iframe class="map" src="{{ url_for('location') }}" frameborder="0"></iframe>
</body>
</html>
