<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Registration | Step 2</title>
</head>
<body>
<div class="alert alert-success" role="alert">
    <h4 class="alert-heading">Success!</h4>
    <p>Registration finish. Now you can <a href="{{ url_for('login', _external=True) }}">SIGN IN</a> and search events.</p>
</div>
</body>
</html>